<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-color: yellow;
        }
        h1{
            background-color: violet;
        }
    </style>
</head>
<body>
    <h1>Hello {{title}}</h1>
    <a href="{{link}}" target="_blank">Go to youtube</a><br>
    <!--<a href="{{link2}}">Back</a>-->
    <form action="expression" method="POST">
        {% csrf_token %}
        First-value: <input type="text" name="text1"><br><br>
        Second-value: <input type="text" name="text2"><br>
        <input type="submit">
    </form>
    <br>
    <a href="app2/signup">Sign-up</a>
</body>
</html>